body {
	background: url("http://i.imgur.com/jUR0PI0.png");
	font-family: 'Marcellus', serif;
}
img { 
	margin: 50 px 0 50 px 0;
}
h1 {
text-align: center;
text-decoration: underline;
}
h2{
	text-align: center;
	font-weight: bold;
}

li{
font-style: italic;	
}
 a{
 	color: gray;
 }

img {
width: 480px;
height: 450px;
border: 5px solid white;
border-radius: 280px;
display: block;
margin: auto;
}